* {
    margin: 0px;
    padding: 0px;
}

.box{
    background-color: black;
}

.left{
    width: 20%;
    height: 100%;
    background: red;
    position: absolute;
}

.center{
    width: 60%;
    height: 100%;
    position: absolute;
    left: 20%;
    top: 0%;
}

.rigth{
    width: 20%;
    height: 100%;
    background: blue;
    position: absolute;
    left: 80%;
    top: 0%;
}

.up{
    width: 100%;
    height: 50%;
    position: relative;
    background: #000;
}

.down{
    width: 100%;
    height: 50%;
    background: yellow;
    position: absolute;
    top: 50%;
}

img{
    width: 75%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}