:root{
    --color-container: cadetblue;
    --color-button-1: hsl(199, 84%, 38%);
    --color-button-2: hsl(224, 80%, 47%);
    --color-text: #FFFFFF;
    --top-title: 70px;
}
* {
    margin: 0px;
    padding: 0px;
}

.container{
    width: 50%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-container);
    border-radius: 3em;
}
.title{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: var(--color-text);
    top: var(--top-title);
    left: 50%;
    transform: translate(-50%, -50%);
}
.email{
    position: absolute;
    padding: 2%;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    top: calc(var(--top-title) + 20%);
    left: 50%;
    transform: translate(-50%, -50%);
}
.pass{
    position: absolute;
    padding: 2%;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    top: calc(var(--top-title) + 40%);
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    appearance: button;
    background-color: var(--color-button-2222);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: var(--color-text);
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    position: absolute;
    top: calc(var(--top-title) + 60%);
    left: 50%;
    transform: translate(-50%, -50%);
}

.button:after {
    background-clip: padding-box;
    background-color: var(--color-button-1);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button:main,
.button:focus {
    user-select: auto;
}

.button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button:disabled {
  cursor: auto;
}